header {
  border-bottom: 1px solid $primaryColor;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
}

.burger {
  padding: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger-icon {
  width: 54px;
  height: 54px;
}

.navigation {
  display: none;
}

.header-right-side {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0px 105px;
  }

  .burger {
    display: none;
  }

  .navigation {
    display: block;
  }

  .navigation-list {
    width: 285px;
    display: flex;
    justify-content: space-between;
  }

  .navigation-link {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    color: $primaryColor;

    &:hover,
    &:focus {
      display: block;
      margin-bottom: 2px;
    }
  }
}
