.running-line {
  height: 36px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-image: linear-gradient(to right, #274cd6, #cf63c6, #80d7c4);
}

.running-line div {
  display: flex;
  width: 200%;
  animation: runLine 5s linear infinite;
}

.running-line p {
  white-space: nowrap;
  width: 100%;
}

.running-text {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $secondaryColor;
}

.flag-icon {
  margin: 0 20px;
  width: 10px;
  height: 10px;
}

@keyframes runLine {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
