.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background: rgba(51, 51, 51, 0.4);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}