.form {
  background: $secondaryColor;
  border: 1px solid $primaryColor;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.form-input {
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 0.72;
  background: #F5CABF;
  border: none;
  cursor: pointer;
  height: 100%;
  width: calc(100% / 2.76);
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  border-left: 1px solid $primaryColor;
}