.backdrop {
  position: fixed;
  top: 82px;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background: #33333366;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
