.form {
  background: $secondaryColor;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.form-input {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid $primaryColor;
  width: 100%;
  padding-left: 15px;

  &:focus {
    outline: none;
    border-color: #3898ec;
  }
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 0.72;
  background: #f5cabf;
  border: none;
  cursor: pointer;
  height: 100%;
  width: calc(100% / 2.76);
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  border-right: 1px solid $primaryColor;
  border-top: 1px solid $primaryColor;
  border-bottom: 1px solid $primaryColor;

  &:hover,
  &:focus {
    background-color: #f68d2e;
  }
}
