h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
 
  font-family: $primaryFont;
  color: $primaryColor;
  background: $primaryBackgroundColor;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
main {
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}